<div class="sideMenuPart" id="app-nav-submenu" pageId="app::////PointingToDeclaration//492899073">
  <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="index.html"><span><span>app</span></span></a></div>
  <div class="sideMenuPart" id="app-nav-submenu-0" pageId="app::com.example.floraleye////PointingToDeclaration//492899073">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-0&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.example.floraleye/index.html"><span>com.</span><wbr></wbr><span>example.</span><wbr></wbr><span>floraleye</span></a></div>
    <div class="sideMenuPart" id="app-nav-submenu-0-0" pageId="app::com.example.floraleye/MainActivity///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.floraleye/-main-activity/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Main</span><wbr></wbr><span><span>Activity</span></span></span></span></a></div>
    </div>
  </div>
  <div class="sideMenuPart" id="app-nav-submenu-1" pageId="app::com.example.floraleye.models////PointingToDeclaration//492899073">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-1&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.example.floraleye.models/index.html"><span>com.</span><wbr></wbr><span>example.</span><wbr></wbr><span>floraleye.</span><wbr></wbr><span>models</span></a></div>
    <div class="sideMenuPart" id="app-nav-submenu-1-0" pageId="app::com.example.floraleye.models/Answer///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.floraleye.models/-answer/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span><span>Answer</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-1-1" pageId="app::com.example.floraleye.models/Quiz///PointingToDeclaration//492899073">
      <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-1-1&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.example.floraleye.models/-quiz/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span><span>Quiz</span></span></span></span></a></div>
      <div class="sideMenuPart" id="app-nav-submenu-1-1-0" pageId="app::com.example.floraleye.models/Quiz.Builder///PointingToDeclaration//492899073">
        <div class="overview"><a href="app/com.example.floraleye.models/-quiz/-builder/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span><span>Builder</span></span></span></span></a></div>
      </div>
    </div>
  </div>
  <div class="sideMenuPart" id="app-nav-submenu-2" pageId="app::com.example.floraleye.repositories////PointingToDeclaration//492899073">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-2&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.example.floraleye.repositories/index.html"><span>com.</span><wbr></wbr><span>example.</span><wbr></wbr><span>floraleye.</span><wbr></wbr><span><span>repositories</span></span></a></div>
    <div class="sideMenuPart" id="app-nav-submenu-2-0" pageId="app::com.example.floraleye.repositories/IQuizRepository///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.floraleye.repositories/-i-quiz-repository/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon interface-kt"></span><span class="nav-link-child"><span>IQuiz</span><wbr></wbr><span><span>Repository</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-2-1" pageId="app::com.example.floraleye.repositories/QuizRepository///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.floraleye.repositories/-quiz-repository/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Quiz</span><wbr></wbr><span><span>Repository</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-2-2" pageId="app::com.example.floraleye.repositories/QuizResponseCallback///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.floraleye.repositories/-quiz-response-callback/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon interface-kt"></span><span class="nav-link-child"><span>Quiz</span><wbr></wbr><span>Response</span><wbr></wbr><span><span>Callback</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-2-3" pageId="app::com.example.floraleye.repositories/UserRepository///PointingToDeclaration//492899073">
      <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-2-3&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.example.floraleye.repositories/-user-repository/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>User</span><wbr></wbr><span><span>Repository</span></span></span></span></a></div>
      <div class="sideMenuPart" id="app-nav-submenu-2-3-0" pageId="app::com.example.floraleye.repositories/UserRepository.Companion///PointingToDeclaration//492899073">
        <div class="overview"><a href="app/com.example.floraleye.repositories/-user-repository/-companion/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon object"></span><span class="nav-link-child"><span><span>Companion</span></span></span></span></a></div>
      </div>
    </div>
  </div>
  <div class="sideMenuPart" id="app-nav-submenu-3" pageId="app::com.example.floraleye.ui.dashboard////PointingToDeclaration//492899073">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-3&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.example.floraleye.ui.dashboard/index.html"><span>com.</span><wbr></wbr><span>example.</span><wbr></wbr><span>floraleye.</span><wbr></wbr><span>ui.</span><wbr></wbr><span>dashboard</span></a></div>
    <div class="sideMenuPart" id="app-nav-submenu-3-0" pageId="app::com.example.floraleye.ui.dashboard/DashboardFragment///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.floraleye.ui.dashboard/-dashboard-fragment/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Dashboard</span><wbr></wbr><span><span>Fragment</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-3-1" pageId="app::com.example.floraleye.ui.dashboard/DashboardViewModel///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.floraleye.ui.dashboard/-dashboard-view-model/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Dashboard</span><wbr></wbr><span>View</span><wbr></wbr><span><span>Model</span></span></span></span></a></div>
    </div>
  </div>
  <div class="sideMenuPart" id="app-nav-submenu-4" pageId="app::com.example.floraleye.ui.home////PointingToDeclaration//492899073">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-4&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.example.floraleye.ui.home/index.html"><span>com.</span><wbr></wbr><span>example.</span><wbr></wbr><span>floraleye.</span><wbr></wbr><span>ui.</span><wbr></wbr><span>home</span></a></div>
    <div class="sideMenuPart" id="app-nav-submenu-4-0" pageId="app::com.example.floraleye.ui.home/HomeFragment///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.floraleye.ui.home/-home-fragment/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Home</span><wbr></wbr><span><span>Fragment</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-4-1" pageId="app::com.example.floraleye.ui.home/HomeViewModel///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.floraleye.ui.home/-home-view-model/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Home</span><wbr></wbr><span>View</span><wbr></wbr><span><span>Model</span></span></span></span></a></div>
    </div>
  </div>
  <div class="sideMenuPart" id="app-nav-submenu-5" pageId="app::com.example.floraleye.ui.login////PointingToDeclaration//492899073">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-5&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.example.floraleye.ui.login/index.html"><span>com.</span><wbr></wbr><span>example.</span><wbr></wbr><span>floraleye.</span><wbr></wbr><span>ui.</span><wbr></wbr><span>login</span></a></div>
    <div class="sideMenuPart" id="app-nav-submenu-5-0" pageId="app::com.example.floraleye.ui.login/LoadingFragment///PointingToDeclaration//492899073">
      <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-5-0&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.example.floraleye.ui.login/-loading-fragment/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Loading</span><wbr></wbr><span><span>Fragment</span></span></span></span></a></div>
      <div class="sideMenuPart" id="app-nav-submenu-5-0-0" pageId="app::com.example.floraleye.ui.login/LoadingFragment.Companion///PointingToDeclaration//492899073">
        <div class="overview"><a href="app/com.example.floraleye.ui.login/-loading-fragment/-companion/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon object"></span><span class="nav-link-child"><span><span>Companion</span></span></span></span></a></div>
      </div>
      <div class="sideMenuPart" id="app-nav-submenu-5-0-1" pageId="app::com.example.floraleye.ui.login/LoadingFragment.LoadingBehaviours///PointingToDeclaration//492899073">
        <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-5-0-1&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.example.floraleye.ui.login/-loading-fragment/-loading-behaviours/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon enum-class-kt"></span><span class="nav-link-child"><span>Loading</span><wbr></wbr><span><span>Behaviours</span></span></span></span></a></div>
        <div class="sideMenuPart" id="app-nav-submenu-5-0-1-0" pageId="app::com.example.floraleye.ui.login/LoadingFragment.LoadingBehaviours.ONBOARD_SUCCESS///PointingToDeclaration/{&quot;org.jetbrains.dokka.links.EnumEntryDRIExtra&quot;:{&quot;key&quot;:&quot;org.jetbrains.dokka.links.EnumEntryDRIExtra&quot;}}/492899073">
          <div class="overview"><a href="app/com.example.floraleye.ui.login/-loading-fragment/-loading-behaviours/-o-n-b-o-a-r-d_-s-u-c-c-e-s-s/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon enum-class-kt"></span><span class="nav-link-child"><span><span>ONBOARD_SUCCESS</span></span></span></span></a></div>
        </div>
        <div class="sideMenuPart" id="app-nav-submenu-5-0-1-1" pageId="app::com.example.floraleye.ui.login/LoadingFragment.LoadingBehaviours.CHECK_ONBOARD///PointingToDeclaration/{&quot;org.jetbrains.dokka.links.EnumEntryDRIExtra&quot;:{&quot;key&quot;:&quot;org.jetbrains.dokka.links.EnumEntryDRIExtra&quot;}}/492899073">
          <div class="overview"><a href="app/com.example.floraleye.ui.login/-loading-fragment/-loading-behaviours/-c-h-e-c-k_-o-n-b-o-a-r-d/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon enum-class-kt"></span><span class="nav-link-child"><span><span>CHECK_ONBOARD</span></span></span></span></a></div>
        </div>
      </div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-5-1" pageId="app::com.example.floraleye.ui.login/LoginFragment///PointingToDeclaration//492899073">
      <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-5-1&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.example.floraleye.ui.login/-login-fragment/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Login</span><wbr></wbr><span><span>Fragment</span></span></span></span></a></div>
      <div class="sideMenuPart" id="app-nav-submenu-5-1-0" pageId="app::com.example.floraleye.ui.login/LoginFragment.Companion///PointingToDeclaration//492899073">
        <div class="overview"><a href="app/com.example.floraleye.ui.login/-login-fragment/-companion/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon object"></span><span class="nav-link-child"><span><span>Companion</span></span></span></span></a></div>
      </div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-5-2" pageId="app::com.example.floraleye.ui.login/OnboardActivity///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.floraleye.ui.login/-onboard-activity/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Onboard</span><wbr></wbr><span><span>Activity</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-5-3" pageId="app::com.example.floraleye.ui.login/SignUpFragment///PointingToDeclaration//492899073">
      <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-5-3&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.example.floraleye.ui.login/-sign-up-fragment/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Sign</span><wbr></wbr><span>Up</span><wbr></wbr><span><span>Fragment</span></span></span></span></a></div>
      <div class="sideMenuPart" id="app-nav-submenu-5-3-0" pageId="app::com.example.floraleye.ui.login/SignUpFragment.Companion///PointingToDeclaration//492899073">
        <div class="overview"><a href="app/com.example.floraleye.ui.login/-sign-up-fragment/-companion/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon object"></span><span class="nav-link-child"><span><span>Companion</span></span></span></span></a></div>
      </div>
    </div>
  </div>
  <div class="sideMenuPart" id="app-nav-submenu-6" pageId="app::com.example.floraleye.ui.notifications////PointingToDeclaration//492899073">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-6&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.example.floraleye.ui.notifications/index.html"><span>com.</span><wbr></wbr><span>example.</span><wbr></wbr><span>floraleye.</span><wbr></wbr><span>ui.</span><wbr></wbr><span><span>notifications</span></span></a></div>
    <div class="sideMenuPart" id="app-nav-submenu-6-0" pageId="app::com.example.floraleye.ui.notifications/NotificationsFragment///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.floraleye.ui.notifications/-notifications-fragment/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Notifications</span><wbr></wbr><span><span>Fragment</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-6-1" pageId="app::com.example.floraleye.ui.notifications/NotificationsViewModel///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.floraleye.ui.notifications/-notifications-view-model/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Notifications</span><wbr></wbr><span>View</span><wbr></wbr><span><span>Model</span></span></span></span></a></div>
    </div>
  </div>
  <div class="sideMenuPart" id="app-nav-submenu-7" pageId="app::com.example.floraleye.utils////PointingToDeclaration//492899073">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-7&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.example.floraleye.utils/index.html"><span>com.</span><wbr></wbr><span>example.</span><wbr></wbr><span>floraleye.</span><wbr></wbr><span>utils</span></a></div>
    <div class="sideMenuPart" id="app-nav-submenu-7-0" pageId="app::com.example.floraleye.utils/Constants///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.floraleye.utils/-constants/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon object"></span><span class="nav-link-child"><span><span>Constants</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-7-1" pageId="app::com.example.floraleye.utils/EncryptedSharedPreferencesManager///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.floraleye.utils/-encrypted-shared-preferences-manager/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Encrypted</span><wbr></wbr><span>Shared</span><wbr></wbr><span>Preferences</span><wbr></wbr><span><span>Manager</span></span></span></span></a></div>
    </div>
  </div>
  <div class="sideMenuPart" id="app-nav-submenu-8" pageId="app::com.example.floraleye.viewmodels////PointingToDeclaration//492899073">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;app-nav-submenu-8&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="app/com.example.floraleye.viewmodels/index.html"><span>com.</span><wbr></wbr><span>example.</span><wbr></wbr><span>floraleye.</span><wbr></wbr><span>viewmodels</span></a></div>
    <div class="sideMenuPart" id="app-nav-submenu-8-0" pageId="app::com.example.floraleye.viewmodels/UserViewModel///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.floraleye.viewmodels/-user-view-model/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>User</span><wbr></wbr><span>View</span><wbr></wbr><span><span>Model</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="app-nav-submenu-8-1" pageId="app::com.example.floraleye.viewmodels/UserViewModelFactory///PointingToDeclaration//492899073">
      <div class="overview"><a href="app/com.example.floraleye.viewmodels/-user-view-model-factory/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>User</span><wbr></wbr><span>View</span><wbr></wbr><span>Model</span><wbr></wbr><span><span>Factory</span></span></span></span></a></div>
    </div>
  </div>
</div>

